##Normal IL Geocode

In [3]:
import geocoder
import pandas as pd

In [16]:
import seaborn as sns

In [9]:
def geocode(x):
    x = x + "normal, illinois"
    g = geocoder.google(x)
    return g.latlng

In [19]:
df = pd.read_csv("normal_il_data.csv")

In [20]:
df['lat_long'] = df.geo_loc.map(geocode)

In [21]:
df.to_csv('normal_il_data_w_geocode.csv')

In [22]:
df.lat_long

0     [40.5098029, -89.0043902]
1       [40.502852, -88.981046]
2     [40.5049212, -88.9822318]
3     [40.5208051, -88.9608168]
4     [40.5049212, -88.9822318]
5     [40.5063898, -88.9965167]
6     [40.5103696, -88.9858667]
7     [40.5026268, -88.9945981]
8     [40.5026268, -88.9945981]
9     [40.5319335, -88.9988872]
10    [40.5024515, -89.0013773]
11     [40.509685, -89.0254971]
12    [40.5249587, -88.9739399]
13    [40.5083767, -88.9857737]
Name: lat_long, dtype: object

##Bloomington Engineering Geocode

In [4]:
df = pd.read_csv("Bloomington, IL Bike Crash Data - 2002 to present - Engineering.csv")

In [5]:
df.head()

,NSTRT,ESTRT,REPORT_NO,TYPE,INJA,INJB,INJC,INJK,DIST,DIR,...,TCD,SURF,LITE,AC_DATE,AC_TIME,DIRU1,DIRU2,YEAR,INTRSECT,ID
0,WYLIE DR,MARKET ST,20021878,2,0,2,0,0,0,NaN,...,3,1,1,8/30/2002,1:03 AM,S,E,2002,NaN,776
1,CLINTON ST WEST,OAKLAND AVE,20021871,2,1,0,0,0,0,NaN,...,3,1,1,8/29/2002,6:48 PM,SE,SE,2002,NaN,268
2,MCLEAN ST,FRONT ST,20021683,2,0,1,0,0,0,NaN,...,1,9,1,8/7/2002,8:30 AM,E,W,2002,NaN,234
3,MAIN ST,MILLER ST,20021667,2,0,1,0,0,0,NaN,...,2,9,1,8/4/2002,6:32 PM,S,NE,2002,NaN,1495
4,MASON ST,MARKET ST,20021639,2,0,0,1,0,0,NaN,...,1,1,1,7/30/2002,7:56 PM,S,W,2002,NaN,214

In [6]:
def blm_geocode(x):
    x = x + "bloomington, IL"
    g = geocoder.google(x)
    return g.latlng

In [7]:
df['intersection'] = "intersection of " + df['NSTRT'] +  " and " +df['ESTRT']

In [10]:
df['lat_long'] = df.intersection.map(geocode)

In [11]:
df.to_csv('bloomington_il_engineering_w_geocode.csv')

### Mclean County

In [12]:
df = pd.read_csv("mclean_county_data.csv")

In [14]:
df['lat_long'] = df.geo_loc.map(geocode)

In [15]:
df.to_csv('mclean_county_data_with_geocode.csv')